---
layout: archive
permalink: /talks/
author_profile: true
---
<h1> Talks </h1>
{% for post in site.talks reversed %}
  {% include archive-single-talk.html %}
{% endfor %}



<h1> Posters </h1>

<a href="https://lijiaru0305.github.io/files/poster-EMode-DAD-2021.pdf" target="_blank"><b><big>Ring formation in protoplanetary discs driven by an eccentric instability</big></b>
</a>
<br>
Distorted Astrophysical Discs Workshop @ Kavli Institute for Cosmology, <i>May 2021</i> (Zoom)
<br>
University of Cambridge, Cambridge, UK

<br><br>

<a href="https://lijiaru0305.github.io/files/poster-GP-UW-2016.pdf" target="_blank"><b><big>Geometric phase effects in the excited state dyanmics of N-dimensional linear vibronic coupling model</big></b>
</a>
<br>
Symposium on Chemical Physics @ University of Waterloo, <i>November 2016</i> 
<br>
Waterloo, Ontario, Canada

